*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    border-bottom: 1px solid #f8f8f8;
}
.header_all {
    height: 20vh;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    position: relative;
}

#icon {
    height: 18vh;
    margin-left: 15vw;
}

.search-all {
    width: 35vw;
    /* background-color: lightblue; */
    margin-left: 2vw;
    position: relative;
}
.search input[type="search"] {
    width: 35vw;
    padding: 10px;
    font-size: 16px;
    border-radius: 2vw;
    border: none;
    height: 4vh;

    background-color: rgba(128, 128, 128, 0.2);
}

.search-icon {
    position: absolute;
    right: 1vw;
    top: 0;
    width: 24px;
    height: 4vh;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.quick-links {
    margin-top: 1vh;
    margin-left: 1vw;
    position: absolute;
}

.keywords {
    color: #b1c1cc;
    font-size: .875em;
    text-decoration: none;
    margin-right: 0.4em;
}
.cart-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4vw;
    padding-top: 1vh;
    /* background-color: lightblue; */
}
.cart-icon{
    
    /* margin-left: -1vw; */
    /* border: 1px solid blue; */
    justify-self: center;
    width: 2vw;
    cursor: pointer;
    background-color: white;
    border: none;
}
.cart-word{
    font-size: 1rem;
    /* margin-left: -1vw; */
    /* border: 1px solid red; */
    color: gray;
    text-align: left;
    text-align: center;
}
.mail-all{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
    padding-top: 1.5vh;
    /* background-color: lightblue; */
}
.mail-icon{
    
    /* margin-left: -1vw; */
    /* border: 1px solid blue; */
    justify-self: center;
    width: 2vw;
    cursor: pointer;
    background-color: white;
    border: none;
}
.mail-word{
    margin-top: -0.5vh;
    font-size: 1rem;
    /* margin-left: -1vw; */
    /* border: 1px solid red; */
    color: gray;
    text-align: left;
    text-align: center;
}
.member-all{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
    padding-top: 1.5vh;
    /* background-color: lightblue; */
}
.member-icon{
    
    /* margin-left: -1vw; */
    /* border: 1px solid blue; */
    justify-self: center;
    width: 2vw;
    cursor: pointer;
    background-color: white;
    border: none;
}
.member-word{
    margin-top: -0.5vh;
    font-size: 1rem;
    /* margin-left: -1vw; */
    /* border: 1px solid red; */
    color: gray;
    text-align: left;
    text-align: center;
}